body{
    background: #304352;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.card{
    position: absolute; 
    top:50%;
    right:50%; 
    transform: translate(50%, -50%);
}
#texto{
    font-family: verdana;
    text-align: center;
    position: relative;
    top: 100px;
}
#inicio{
    font-family: verdana;
    text-align: center;
    position: relative;
    top: 170px;
}
.border-success {
    --bs-border-opacity: 0.5;
  }