body{
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.card{
    position: absolute; 
    top:50%;
    right:50%; 
    transform: translate(50%, -50%);
}
#texto{
    font-family: verdana;
    text-align: center;
    position: relative;
    top: 100px;
}
#inicio{
    font-family: verdana;
    text-align: center;
    position: relative;
    top: 190px;
}