body{
    padding-top: 1px; /* Ajusta este valor según la altura de tu barra de navegación */
    margin: 0; /* Asegúrate de que no haya margen en el cuerpo */
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.card{
    position: absolute; 
    top:50%;
    right:50%; 
    transform: translate(50%, -50%);
    background-color: rgba(255, 255, 255, 0.3);
}
#texto{
    font-family: verdana;
    text-align: center;
    position: relative;
    top: 150px;
}
#inicio{
    font-family: verdana;
    text-align: center;
    position: relative;
    top: 190px;
}
@media only screen and (max-width: 600px) {
    #inicio{
        font-family: verdana;
        text-align: center;
        position: relative;
        top: 180px;
    }
    .card{
        position: absolute; 
        top:50%;
        right:50%; 
        transform: translate(50%, -50%);
        background-color: rgba(255, 255, 255, 0.3);
        width: 80%;
        display: flex;
        justify-content: center; /* Centrado horizontal */
        align-items: center; /* Centrado vertical */
    }
}

.borde{
    background-color: rgba(255, 255, 255, 0.3); /* Cambia la transparencia ajustando el valor de 'a' */
    border: 2px solid #333; /* Ancho, estilo y color del borde */
    border-radius: 20px;
    padding: 10px;
    margin: 0 auto;
    font-size: 1.2em;
    position: absolute; 
    top:50%;
    right:50%; 
    transform: translate(50%, -50%);
}
@media only screen and (max-width: 600px) {
    .borde {
        width: 90%; /* Ajusta el ancho para pantallas más pequeñas */
        font-size: 0.8em;
        border-radius: 20px;
    }
}
.bond{
    font-weight: bold;
}
.navbar {
    z-index: 1000; /* Puedes ajustar este valor según sea necesario */
    top: 0;
    width: 100%;
  }
#boton{
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}
.contenedor{
    width: 100%;
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
}
img{
    position:absolute;
    max-width: 100%;
    top: 65%;
}
.referencia{
    position:absolute;
    top: 86%;
    font-size: 1.2em;
}
@media screen and (max-width: 600px){
    .contenedor{
        width: 100%;
        display: flex;
        justify-content: center; /* Centrado horizontal */
        align-items: center; /* Centrado vertical */
    }
    img{
        position: absolute;
        top: 85%;
    }
    .referencia{
        font-size: 1.2em;
        position:absolute;
        width: 90%;
        top: 108%;
        text-align: center;
    }
}
.profile-container{
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3); 
    border-radius: 8px;
    position: absolute; 
    top:50%;
    right:50%; 
    transform: translate(50%, -50%);
}
@media screen and (max-width: 600px){
    .profile-container{
        width: 90%;
        margin: 0 auto;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.3); 
        border-radius: 8px;
        position: absolute; 
        top:50%;
        right:50%; 
        transform: translate(50%, -50%);
    }
}
.registro{
    background-color: rgba(255, 255, 255, 0.3); /* Cambia la transparencia ajustando el valor de 'a' */
    border: 2px solid #333; /* Ancho, estilo y color del borde */
    border-radius: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    padding: 50px;
}
.inclusion{
    width: 500px; /* Ajusta según tus necesidades */
    height: auto; /* Mantiene la proporción original de la imagen */
    position: absolute; 
    right:60%;
    top: 150px;
}
.inclusio{
    width: 500px; /* Ajusta según tus necesidades */
    height: auto; /* Mantiene la proporción original de la imagen */
    position: absolute; 
    left:60%;
    top: 150px;
}
@media screen and (max-width: 600px){
    .inclusion{
        width: 230px; /* Ajusta según tus necesidades */
        height: auto; /* Mantiene la proporción original de la imagen */
        position: absolute; 
        right:20%;
        top: 100px;
    }
    .inclusio{
        max-width: 100%;
        width: 230px; /* Ajusta según tus necesidades */
        height: auto; /* Mantiene la proporción original de la imagen */
        position: absolute; 
        left:21%;
        top: 450px;
    }
}

.card-body{
    position: relative;
}
.preguntas{
    margin-top: 5%;
}
.jumbotron{
    width: 90%;
    position: absolute;
    top: 15%;
    border: 2px solid #333; /* Ancho, estilo y color del borde */
    border-radius: 20px;
    padding: 50px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.3); 

}
@media screen and (max-width: 600px){
    .preguntas{
        width: 90%;
        margin-top: 13%;
    }
    .jumbotron{
        right: 20px;
        width: 90%;
        position: absolute;
        top: 10%;
        border: 2px solid #333; /* Ancho, estilo y color del borde */
        border-radius: 20px;
        padding: 50px;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.3);

    }
}