{% extends 'barra.html' %}
{% block content %}
<div class="borde">
  <div id="boton" class="container">
    <p>Bienvenido/a al cuestionario. Este cuestionario trata de situaciones o problemas relacionados con diferentes tipos de discapacidades 
      con objetivo comprender las experiencias y percepciones de las personas en relación con la  
      inclusión y no discriminación en diferentes contextos de la vida.
    </p>
    <a button type="button" style="display: inline-block;" class="btn btn-dark"/button href="{% url 'psd_url' %}">Comenzar</a> <!--lo mismo que lo anterior falto poner el _url para qure funcione-->
  </div>
</div>
{% endblock %}
