{% extends 'barra.html' %}
{% block content %}
<div class="card border-secondary mb-3" style="max-width: 20rem; background-color: rgba(255, 255, 255, 0.5);">
  <div class="card-body">
      <h4 class="card-title"> 
          <div class="container">
              <a button type="button" class="btn btn-dark"/button href="{% url 'cuestionario_url' %}">Iniciar cuestionario</a> <!--falto poner el _url en el cuestionario para que funcione-->
          </div>
      </h4>
  </div>
</div>
{% endblock %}

