{% extends 'barra.html' %}
{% block content %}
<div class="borde">
    <div class="container">
        <p class="bond">¡Hola a todos!</p>

        <p>Nos emociona presentarles nuestro proyecto: Sinergasia, somos un equipo apasionado de estudiantes que se ha unido para crear una plataforma única y emocionante.</p>

        <p class="bond">¿Quiénes somos?</p>
        <p>Somos un equipo de la universidad diverso con habilidades diversas, unidos por el deseo de ofrecer algo especial. Sinergasia es más que una página web; es una experiencia que hemos diseñado pensando en ustedes.</p>

        <p class="bond">¿Qué ofrecemos?</p>
        <p>En Sinergasia, encontrarán [breve descripción del contenido o servicio principal], brindando un espacio en línea que esperamos que encuentren valioso y atractivo.</p>

        <p class="bond">Nuestro Compromiso:</p>
        <p>Estamos comprometidos a ofrecer contenido de calidad y una experiencia de usuario excepcional. A medida que avanzamos, queremos involucrarnos con ustedes, recibir comentarios y evolucionar para satisfacer sus necesidades.</p>
    </div>
</div>
{% endblock %}