{% extends 'barra.html' %}
{% block content %}
<br>
<div class="container">
	<div class="jumbotron my-4">
		<h3 class="text-info">{{respondida.pregunta.texto|safe}}</h3>
		<p>
			<strong>Tu respuesta:</strong>
			{{respondida.respuesta.texto|safe}}
		</p>

		{% if respondida.respuesta.correcta %}	
		<h4 class="text-success">Tu respuesta es correcta</h4>
	{% else %}
		<h4 class="text-danger">Tu respuesta es incorrecta</h4>
		<p>Retroalimentacion: {{ retroalimentacion_pregunta|safe }}</p>
		{% for respuesta in respondida.pregunta.opciones.all %}

			{% if respuesta.correcta %}

				<h4>La respuesta correcta es: <span class="text-success">{{respuesta}}</span></h4>
				
			{% endif %}

		{% endfor %}

	{% endif %}
	
	<a button type="button" class="btn btn-dark"/button href="{% url 'psd_url' %}">Siguiente Pregunta</a>
	</div>	
</div>
{% endblock %}