<!DOCTYPE html>
<html lang="es">
<head>
    <div class="container">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Login</title>
    <h3>Inicio de sesión</h3>
</div>
</head>
<body>
    <div class="container">
    <br>
    <form action="" method="post">
        {% csrf_token %}

        <input type="text" name="username" id="" placeholder="Nombre de Usuario">
        <br>
        <input type="password" name="password" id="" placeholder="Contraseña">
        <br>
        <button type="submit">Iniciar Sesión</button>
    </form>
</div>
</body>
</html>