<!DOCTYPE html>
<html lang="es">
<head>
    <div class="container">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Login</title>
    <br>
    <h3>Inicio de sesión</h3>
</div>
</head>
<body>
    <style>
        body{
          background: #304352;  /* fallback for old browsers */
          background: -webkit-linear-gradient(to right, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to right, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */             
      }
      </style>
    <div class="container">
    <br>
    <form action="" method="post">                                
        {% csrf_token %}
        <div class="card">
            <div class="card-body">
                <div class="mb-3">
                    <label for="username" class="form-label">Nombre de Usuario</label>           <!--cambio de nombredeusuario a username, asi deberia leer la tabla de la base de datos-->
                      <input type="text" name='username'class="form-control" id="Nombredeusuario" aria-describedby="emailHelp"> <!--agregue el name=username-->
                      <div id="emailHelp" class="form-text">Nunca compartas tu usuario.</div>
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Ingrese su contraseña</label>
                      <input type="password" name="password" class="form-control" id="password">  <!--falataba name=password por eso no iniciaba sesion-->
                    </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="recordar">
                      <label class="form-check-label" for="recordar">Recordarme</label>
                    </div>
                    <button type="submit" class="btn btn-dark">Iniciar sesion</button>   <!--cambio de type a submit por si acaso(antes era iniciodesesion)-->   
                  </form>
            </div>
          </div>
    </form>
</div>
</body>
</html>